.btn-primary.custom-file-control:before, .btn.btn-primary {
    color: white;
    background-color: #03A9F4;
    border-radius: 1.5px;
}

.btn.btn-primary:hover {
    color: #03A9F4;
}

/* 这个是发布新话题那一栏的 */
.navtool {
    margin-top: 30px;
}

.bg-blue {
    background-color: #03A9F4;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#B3E5FC 2px,rgba(0,150,136,0) 0)
}

.bmd-form-group {
    background-color: white;
    border-radius: 1.5px;
}

.form-control {
    padding: 5px;
}

.btn.btn-outline-info {
    color: white;
    background-color: #03A9F4;
    /* border-color: transparent; */
    margin: 10px;
    border-radius: 3px;
    
}

.btn.btn-outline-info:hover {
    background-color: white;
}

.topic-each-item:hover {
    color: white;
    background-color: #03A9F4;
}

.button-add-new-article .card .btn .btn-primary .btn-lg:hover {
    color: red;
}

.sidetool {
}

.nav-pills .nav-link {
    display: inline;
}

.nav-tabs .dropdown-toggle {
    background-color: #e7edf3;
    display: inline;
}

.nav-tabs .nav-item .nav-link {
    display: inline-block;    
    border-bottom-width: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-item.dropdown {
    position: absolute;
    right: 10px;
}

.nav-item.dropdown.show {
    position: absolute;
    right: 10px;
}

.profile-body {
    background-image: url("../images/profilebackground.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.profile-body .profile-board.card {
    background-color: white;
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 30px;
}
.user-head-image {
    margin: 0 auto;
}

.user-head-image img {
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.Upload-Avatar-button {
    display: block;
    opacity: 0;
    height: 70px;
    width: 70px;
    position: absolute;
    z-index: 10;
    top: 30px;
    margin: 0 auto;
}

/* .Upload-Avatar-button:hover {
    opacity: 0;
    display: inline-block;
    height: 70px;
    width: 70px;
    position: relative;
    z-index: 10;
} */

.upload-user-image {
    margin: 0 auto;
}

.form-group.col-md-6.inlineFormCustomSelect .custom-select {
    display: block;
}

.profile-body .btn.btn-primary.card {
    float: right;
}

.profile-body .btn.btn-danger.card {
    background-color: #FF5252;
    color: white;
    margin-right: 6px;
    float: right;
}

.profile-body .btn.btn-danger.card:hover {
    background-color: #e7edf3;
    color: #FF5252;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.user-head-image button.card {
    text-align: center;
    margin: 10px auto;
    background-color: #4CAF50;
    color: white;
}

.user-head-image button.card:hover {
    text-align: center;
    margin: 10px auto;
    background-color: #e7edf3;
    color: #4CAF50;
}

.btn.btn-reset.card {
    background-color: #FBC02D;
    color: white;
}

.btn.btn-reset.card:hover {
    background-color: #e7edf3;
    color: #FBC02D; 
}

small#headHelp {
    margin: 0 auto;
}

.user-head-image form{
    margin-bottom: 0px;
}

body#topic-write {
    background-image: url("../images/topicnewbackground.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.board-topic {
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
}

#test-editormd {
    margin: 10px auto;
}

.board-topic .topic-title {
    margin: 0 5%;
    font-size: 30px;
    font-weight: 20px;
}

.board-topic label {
    margin-left: 5%；
}

.btn.btn-primary.card.topic-button {
    border: 0;
}

.topic-board {
    margin-left: 5%;
    margin-top: 10px;
}

#topic-button {
    text-align: center;    
}

#topic-button button {
    display: inline-block;
}

body#topic-detail {
    background-image: url("../images/topicdetaibackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
    padding: 5%;
    padding-top: 3%;
}

#board-topic-detail {
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.topic-detail-side .topic_detail.card {
    padding: 2%;
}

.topic_detail.card .topic_header {
    font-size: 30px;
    font-weight: bold;
}



hr.style-four {
    padding: 0 20px 0;
    margin: 10px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}

img.reply-user-image {

}

#topic-detail .Reply_aera.card {
    padding: 2%;
}

.reply_item {
    margin-bottom: 10px;
}

.reply_item img {
    border-radius: 100%;
    padding: 0;
    float: left;
    margin-right: 15px;
    height: 60px;
    width: 60px;
}

.reply_item .reply-writer-info {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 20px;
}

.reply_item .reply-content {
    margin-top: 10px;
    margin-bottom: 25px; 
}

.reply_item .reply-floor-info {
    float: right;    
}

.reply_item ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inbox-area {
    display: flex;
    margin-top: 20px;
}

.list-group.inbox-item-list-group {
    flex: 0.25;
    margin-left: 10px;
    margin-right: 10px;    
}

.inbox-item-detail {

}

.inbox-item-detail {
    flex: 0.72;    
}

.list-group-item.list-group-item-action.flex-column.align-items-start:hover {
    background-color: #03A9F4;
    color: white;
}

.inbox-item-detail.card .card-body p {
    background-color: rgb(204, 198, 198);
    border-radius: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    max-width: 240px;
    padding: 3px;
    line-height: 118%;
    overflow: hidden;
    word-break: break-word;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 5px;
}

.inbox-item-detail.card .card-body footer {
    font-size: 72%;
}

.inbox-item-detail.card .card-header {
    font-size: 22px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.inbox-message {
    background-color: rgb(204, 198, 198);
    border-radius: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    max-width: 240px;
    padding: 3px;
    line-height: 118%;
    overflow: hidden;
    word-break: break-word;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 5px;
}

.blockquote.iamowner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.blockquote {
    margin-bottom: 10px;    
}



.form-group.bmd-form-group {
    margin-bottom: 0px;
}

.inbox-item-upload-form {
    padding-left: 15px;
    padding-right: 15px;
}



.inbox-item-upload-form .form-group button {
    float: right;
    margin-top: 10px;
}

.inbox-item-upload-form .form-group label {
    color: #03A9F4;
}


 .btn.btn-primary:focus {
     color: #03A9F4;
     background-color: white;
 }

 .btn.btn-primary:active {
    color: #03A9F4;
    background-color: white;
}

.list-group-item.list-group-item-action.flex-column.align-items-start p {
    word-break: break-word;
}

.list-group.inbox-item-list-group.card {
    height: 600px;
    overflow: auto;
}

.blockquote.xxx.iamowner p {
    background-color: #03A9F4;
    color: white;
}
