<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/css/MyCss.css">
    
  </head>
  <body>
  <div>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Player</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
  <div class="container navtool">
      <div class="row">
        <div class="col-md-2 sidetool">
            <a role="button" class="button-add-new-article card btn btn-primary btn-md" href={{ url_for("topic.topic_write") }}>
              发布新话题
            </a>
            <nav id="navbar-example3" class="navbar navbar-light bg-light">
              <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">个人资料</a>
                <a class="nav-link" href="#item-2">聊天室</a>
                <a class="nav-link" href="#item-3">Item3</a>
              </nav>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills nav-tabs">
                    {% for board in boards %}
                    <li class="nav-item">
                    <a class="nav-link" href="/?board_id={{ board._id }}"> {{ board.board_name}} </a>
                    </li>
                    {% endfor %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">最新回复</a>
                        <a class="dropdown-item" href="#">最新发布</a>
                        <a class="dropdown-item" href="#">最热讨论</a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">关注此版块</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-group topic-list">
                    {% for m in ms %}
                    <a href="{{ url_for('topic.detail', topic_id=m._id )}}" class="topic-each-item list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> {{ m.title }} </h5>
                        <small>3 days ago</small>
                      </div>
                      <small> {{ m.get_replynumber() }}/{{ m.view }} </small>
                    </a>
                    {% endfor %}
                  </div>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                      {% for i in range(pagenumber) %}
                      <li class="page-item"><a class="page-link" href="?page={{ loop.index }}&board_id={{ filter._id }}"> {{ loop.index }} </a></li>
                      {% endfor %}
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
              </div>
        </div>
      </div>
    </div>
        </div>
      </div>
      <div class="function-aera">
          <a class="button-add-new-article" href="{{ url_for('topic.topic_write') }}">添加新文章</a>
          <a class="button-add-new-board" href={{ url_for("board.board") }}>增加板块</a>
          <a class="button-log-out" href={{ url_for("login.log_out") }}>退出登录</a>        
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>