<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>论坛主页</title>
</head>
<body>
    <div class="board_list">
        {% for board in boards %}
        <a href="/?board_id={{ board.id }}"> {{ board.board_name}} </a>
        {% endfor %}
    </div>
    <div class="topic-list">
        {% for m in ms %}
            <div class="topic-each-item">
                <span>标题</span>
                <a href= {{ url_for("topic.detail", topic_id=m.id )}}>{{ m.title }}</a>
                <span> {{ m.get_replynumber() }}/{{ m.view }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="function-aera">
        <a class="button-add-new-article" href={{ url_for("topic.build_new_topic") }}>添加新文章</a>
        <a class="button-add-new-board" href={{ url_for("board.board") }}>增加板块</a>
        <a class="button-log-out" href={{ url_for("topic.log_out") }}>退出登录</a>        
    </div>
</body>
</html>