<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>论坛主页</title>
</head>
<body>
    <div class="topic-list">
        {% for m in ms %}
            <div class="topic-each-item">
                <span>标题</span>
                <a href= {{ url_for("topic.detail", topic_id=m.id )}}>{{ m.title }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="function-aera">
        <a class="button-add-new" href={{ url_for("topic.build_new_topic") }}>添加新文章</a>
    </div>
</body>
</html>