<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新文章</title>
</head>
<body>
    <form action= {{ url_for("topic.add") }} method="POST">
        <input type="text" name="title" placeholder="请输入标题">
        <br>
        <select name="board_id">
            {% for b in board %}
            <option value= {{ b.id }}> {{ b.board_name }} </option>
            {% endfor %}
        </select>
        <textarea rows="20" cols="20" name="content" placeholder="请输入文章内容"></textarea>
        <br>
        <button>提交</button>
    </form>
</body>
</html>