<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="../../static/css/bootstrap-material-design.css">
        <link rel="stylesheet" href="../../static/css/MyCss.css">
        <title>{{ user.username }}的详细资料</title>
    </head>
    <body class="profile-body">
        <div class="profile-board card">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endfor %}
            <div class="user-head-image">
                    <img src= {{ url_for("static", filename="user_image/" + user.user_image) }} alt="您的头像" srcset=""/>                      
                    <form action= {{ url_for(".add_image") }} method="post" enctype="multipart/form-data">
                        <label class="Upload-Avatar-button card" for="img_input">上传文件</label>                
                        <input id="img_input" type=file name=file style="display: none;">
                        <button type="submit" class="card">确定</button>
                    </form>
            </div>
            <small id="headHelp" class="form-text text-muted">点击头像提交你要上传的头像，然后点确定</small>            
            <form action="{{ url_for('profile.edit_user')}}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputEmail4" class="col-form-label">用户名</label>
                <input type="text" name="username" class="form-control" id="inputEmail4" value="{{ user.username }}">
                </div>
                <div class="form-group col-md-6">
                <label for="inputPassword4" class="col-form-label">邮箱</label>
                <input type="email" name="email" class="form-control" id="inputPassword4" value="{{ user.email }}">
                </div>
            </div>
            <div class="form-row">                    
            <div class="form-group col-md-6">
                <label for="inputAddress" class="col-form-label">地址</label>
                <input type="text" name="address" class="form-control" id="inputAddress" value="{{ user.address }}" placeholder="xx市xx区">
            </div>
            <div class="form-group col-md-6 inlineFormCustomSelect">
                <label for="inline  FormCustomSelect" class="col-form-label">国籍</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="nation" id="inlineFormCustomSelect">
                    <option value="{{ user.nation }}">Choose...</option>
                    <option value="China">China</option>
                    <option value="America">America</option>
                    <option value="Spain">Spain</option>
                </select>
            </div>
            </div>
            <button type="submit" class="btn btn-primary card">提交修改</button>
            <a class="btn btn-danger card" href="{{url_for('profile.send_password_email')}}">修改密码</a>
            <button type="reset" class="btn btn-reset card">重置</button>
            </form>
        </div>
    </body>
</html>